[flake8]
max-line-length = 88
# Extend the default ignore list
extend-ignore =
    # Whitespace before ':'
    E203,
    # Line break before binary operator
    W503,
    # Disable to avoid duplicate warnings with E722
    B001
    # For manual testing:
    # IC001,
    # IC002,
    # IC003,
    # IC004
per-file-ignores =
    # `module` imported but unused
    # __init__.py: F401
    manual_test.py: F401
    # line too long
    errors_test.py: E501
    plugin_test.py: E501
exclude =
    .git,
    __pycache__,
    dist,
    build,
    .venv
